@{
    ViewBag.Title = "Home Page";
}
	<head>
	  <title>Backbone Demo: Todos</title>
@*        <script src="@Url.Content("~/Scripts/require.js")"></script>
        <script src="@Url.Content("~/Scripts/require-config.js")></script>*@
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
@*       <script src="@Url.Content("~/Scripts/require.js")"></script>*@
@*        <script src="@Url.Content("~/Scripts/require-jquery.js")"></script>*@
        <script src="@Url.Content("~/Scripts/mustache.js")"></script>
        <script src="@Url.Content("~/Scripts/simple-inheritance.min.js")"></script>
	    <script src="@Url.Content("~/Scripts/underscore.js")"></script>
        <script src="@Url.Content("~/Scripts/backbone.js")"></script>
        <script src="@Url.Content("~/Scripts/strophe/strophe.js")"></script>     
        <script src="@Url.Content("~/Scripts/strophe/strophe.flxhr.js")"></script>
        <script src="@Url.Content("~/Scripts/strophe/strophe.ibb.js")"></script>
        <script src="@Url.Content("~/Scripts/strophe/strophe.sentinel.js")"></script>
        <script src="@Url.Content("~/Scripts/strophe/strophe.si-filetransfer.js")"></script>
        <script src="@Url.Content("~/Scripts/strophe/strophe.ibb.js")"></script>       
        <script src="@Url.Content("~/Scripts/imenhancement/jdm-im.js")"></script>
        <script src="@Url.Content("~/Scripts/imenhancement/spark.api.client.js")"></script>     
        <script src="@Url.Content("~/Scripts/imenhancement/imenhancement.js")"></script>    
        <script src="@Url.Content("~/Scripts/imenhancement/imenhancement_test.js")"></script>                                                           

    </head>




