<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - IMClient Javascript Test</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Stylesheets/bootstrap")
        @Styles.Render("~/Content/qunit")
        @Scripts.Render("~/bundles/modernizr")
        <script>
            var _apiUrl = "http://api.stgv3.spark.net/v2";
            var _brandId = 1003;
            var _appId = 1054;
            var _clientSecret = "nZGVVfj8dfaBPKsx_dmcRXQml8o5N-iivf5lBkrAmLQ1";
            var _memberId = "114402580";
            var _emailAddress = "arodriguez@spark.net";
            var _password = "1111";
            var _targetMemberId = "27029711";
            var _targetMemberEmailAddress = "wlee@spark.net";
            var _targetMemberPassword = "1234"
        </script>
    </head>
    <body>
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
        <script src="/Scripts/qunit-1.11.0.js"></script>
        <script src="/Scripts/imclienttest.js"></script>        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderBody()
    </body>
</html>
